<footer>
  <div class="container">
    <nav class="footer-nav">
      <ul class="footer-list">
        <li class="footer-item">
          <a class="footer-item-link" href="">about us</a>
        </li>
        <li class="footer-item">
          <a class="footer-item-link" href="">customer order</a>
        </li>
        <li class="footer-item">
          <a class="footer-item-link" href="">our colection</a>
        </li>
        <li class="footer-item">
          <a class="footer-item-link" href="">testimonials</a>
        </li>
      </ul>
    </nav>

    <h2 class="footer-head-text">
      A touch of <span>Ukrainian</span> culture in every embroidery
    </h2>

    <!-- <div class="footer-img"></div>
  </div> -->
</footer>
