<section class="hero-page">
  <div class="container">
    <h1 class="hero-title">Reviving the traditional Ukrainian artistry in every stitch.</h1>
    <div class="hero-star">
      <svg class="hero-star-icon" width="52" height="51">
        <use href="/src/img/icons.svg#icon-star-yellow"></use>
      </svg>
      <p class="hero-star-text">all embroidery is made by hand</p>
    </div>
    <button class="hero-button" type="button" href="your-order.html">ORDER
      <svg class="hero-button-icon" width="26" height="10">
        <use href="/src/img/icons.svg#icon-arrow"></use>
      </svg>
    </button>
    <picture>
      <source media="(min-width: 1280px)"
        srcset="/src/img/hero/desktop-girl-hero.jpg 1x, /src/img/hero/desktop-girl-hero@2x.jpg 2x">
      <source media="(min-width: 768px)"
        srcset="/src/img/hero/tablet-girl-hero.jpg 1x, /src/img/hero/tablet-girl-hero@2x.jpg 2x">
      <source media="(max-width: 767px)"
        srcset="/src/img/hero/mobile-girl-hero.jpg 1x, /src/img/hero/mobile-girl-hero@2x.jpg 2x">
      <img class="hero-img" src="/src/img/hero/desktop-girl-hero.jpg" alt="photo's girl" />
    </picture>
  </div>
</section>
