footer {
  border-top: 1px solid rgba(252, 249, 249, 0.1);
}

.footer-menu {
  padding: 40px 20px;
}
.footer-nav {
}
.footer-list {
}
.footer-item {
}
.footer-item-link {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.28571;
  text-transform: uppercase;
  color: #fcf9f9;
  text-decoration: none;
}

.main-text {
  font-weight: 400;
  font-size: 44px;
  line-height: 1.22727;
  letter-spacing: -0.03em;
  color: #fcf9f9;
}

.main-text span {
  color: #ecd979;
}
