.collection {
  padding-top: 80px;
  padding-bottom: 80px; 
}

.collection-fon {
  background-position-y: 11% ;
  background-size: 177px 199px ;
  background-repeat: no-repeat ;
  max-width: fit-content;
  margin: 0 auto;
  background-image: url(/img/background/ornament-bg-yellow.png);
}

@media screen and (min-resolution: 192dpi) {
  .collection-fon{
      background-image: url(/img/background/ornament-bg-yellow@2x.png)
  }
}

.section-title-collection {
  font-weight: 500;
  font-size: 32px;
  line-height: 1.37;
  letter-spacing: -0.03em;
  color: #FCF9F9;
  text-align: center;
  margin-bottom: 40px;
}

.collection-menu {
  display: flex;
  flex-wrap: wrap;
  row-gap: 20px;
  justify-content: center;
}


.collection-item {
  border-radius: 4px;
  display: flex;
  justify-content: center;
  overflow: hidden;
}

.collection-list-item-title {
  font-weight: 500;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  margin-bottom: 8px;
  white-space: nowrap;
}

.text-collection {
  padding-top: 18px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.collection-list-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0.05em;
  color: rgba(252, 249, 249, 0.4);
}

@media screen and (min-width: 768px) {
  .collection-menu {
      gap: 20px 20px;
      flex-direction: row;
  }

  .collection-list {
      width: calc((100% - 20px) / 2);
  }

  .collection-fon {
      background-position-y: 16%;
      background-size: 300px 338px ;

  }

  .collection-list-item-title{
      font-size: 18px;
      width: 342px;
      overflow: hidden;
      
  }

  .collection-list-text {
      font-size: 18px;
  }

}

@media screen and (min-width: 1280px) {
  .collection {
      padding-top: 150px;
      padding-bottom: 150px; 
  }

  .collection-fon {
      background-position-y: 28%;
  }

  .collection-menu {
      gap: 40px 20px;
  }

  .collection-list {
      width: calc((100% - 48px) / 3);
      
  }

  .collection-list-item-title {
      width: 380px;
  }

}