/* Reset styles */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: auto;
  margin-bottom: auto;
}

/* p:last-child {
  margin-bottom: 0;
} */

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style-type: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  color: currentColor;
  text-decoration: none;
}

button {
  cursor: pointer;
}

p{
  font-weight: 400;
  color: rgba(252, 249, 249, 0.4);
}
